// Layout
//
// Styles for managing the structural hierarchy of the site.

.container {
  padding: 0 15px;
  margin-left:  auto;
  margin-right: auto;
  font-weight:300;
  max-width: 50rem;
}

footer {
  margin-bottom: 2rem;
}

#foot {
  text-align: center;
  margin-top: 0rem;
  margin-bottom: 0rem;
  padding-top: 0rem;
  padding-bottom: 0rem;
  small {
    font-size: 75%;
    font-weight: 400;
    opacity: .5;
  }
  a {
    padding: 0;
  }
  
  .Newer {
    float:left;
  }
  .Older {
    float:right; 
  }
}

@media screen and (max-width: 15rem) {
     .page_number {
      display:none;  
    }
}
