// Masthead
//
// Super small header above the content for site name and short description.

header {
  margin-bottom: 1rem;
}

header hr {
  margin-top: 0px;
  padding-top: 0px;
}
header h3 {
  margin-bottom: 0px;
}

.masthead-title {
    margin-top: 0;
    color: $black;
    font-weight: 300;
    font-size: 1.5em;
    display: block;
    overflow: hidden;
    opacity: 0.7;
}

.masthead-title a {
    color: inherit;
    padding: 0.45rem;
    float: right;
    display: block;
    text-align: center;
    text-decoration: none;
    font-size: 1.3rem;
    color: $black;
}

.masthead-title a.home {
    padding: 0.33rem;
    float: left;
    font-size: 1.5rem;
    opacity: 1;
}

.masthead-title a.home:hover {
    color: maroon;
    background-color: $body-bg;
}

.masthead-title a.home:hover small {
    color: $black;
}

.masthead-title a:hover {
    background-color: #eee;
    color: $black;
}

.masthead-title .icon {
    display: none;
}

@media screen and (max-width: $large-breakpoint) {
    .masthead-title a:not(:first-child) {
        display:none;
    }

    .masthead-title a.icon {
        float: right;
        display: block;
    }
    .masthead-title a.icon:hover {
        background-color: $body-bg;
    }
    .masthead-title.responsive {
        position:relative;
    }

    .masthead-title.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }

    .masthead-title.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
}
