---
layout: compress
---
<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body>

    <div class="container content">
      <header> <h3 class="masthead-title">
        <a href="{{ site.baseurl }}/" title="Home">{{ site.title }} class="home" </a><small>{{ site.tagline }}</small>
          {% for page in site.pages_list %}
             <a href="{{ page[1]  }}" title="{{ page[0] }}"><small>{{ page[0] }}</small></a>
          {% endfor %}
          <a href="javascript:void(0);" class="icon" onclick="myFunction()">&#9776;</a>
          </h3><hr>
      </header>
      <main>
        {{ content }}
      </main>
    </div>
  </body>
</html>
